:root {
    --background-color-one: black;
    --background-color-two: white;
    --background-color-three: rgba(145, 145, 145, 0.1);
    --background-color-four: #343a40;
    --background-color-five: rgba(0, 0, 0, 0.8);
    --text-color-one:  white;
    --box-shadow-one: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: var(--background-color-one);
    color: var(--text-color-one);
}

.section-header {
    font-family: Montserrat, sans-serif;
    border-bottom: 0.2px solid var(--text-color-one);
    display: inline-block;
    font-size: 22px;
    padding-bottom: 10px;
    letter-spacing: 5px;
    text-indent: 5px
}

.section {
    padding: 90px 10px;
}

.section-width, .row.section-width{
    margin: auto;
    max-width: 900px;
}

.section-description {
    font-size: 18px;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.section-body {
    margin-top: 90px;
}

a.btn.disabled {
    opacity: 0.5;
}