.projects {
    background-color: var(--background-color-three);
}

.card-link {
    color: orange;
    transition: opacity 0.2s;
}

.card-link:hover {
    opacity: 0.5;
}

.card {
    height: 100%;
}

.row.cards-wrapper {
    margin-bottom: 20px;
}