.card-link {
    color: orange;
    transition: opacity 0.2s;
}

.card-link:hover {
    opacity: 0.5;
}

.card {
    height: 100%;
}

.card-title {
    font-weight: 600;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlight {
    font-weight: bold;
    font-style: italic;
}

.card-wrapper {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .card-img-top {
        height: 180px;
        object-fit: cover;
    }
}