.card-link {
    color: #AACCFF;
    transition: opacity 0.2s;
    margin: 2px 6px;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.flex-col .card-link+.card-link {
    margin-left: 6px;
}

.card-link:hover {
    opacity: 0.5;
}

.card {
    height: 100%;
}

.card-title {
    font-weight: 600;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlight, .description {
    font-weight: bold;
    font-style: italic;
}

.description {
    color: orange;
}

.card-wrapper {
    margin-bottom: 20px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}

@media only screen and (min-width: 768px) {
    .card-img-top {
        height: 220px;
        object-fit: cover;
    }
    .card-wrapper {
        max-width: 33.333333%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.collapsed {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.5s;
}

.collapsed.active {
    max-height: 500px;
}